@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial";
}

.info-window {
  .station-name {
    padding-top: 1em;
  }
  .info-content {
    padding: 1em;
    font-size: 1.2em;

    p {
      padding: 0.5em;
    }
  }
}

#map {
  position: fixed !important;
  height: 100%;
  width: 100%;
}
